{% extends "base.html.twig" %}

{% block title %}Mediaff | Email Analysis{% endblock %}

{% block custcss %}
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js') }}"></script>
    <script src="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="">
        <div class="row">
            <!-- form input mask -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'emailcheckform'}}) }}
                        <div class='input-group fieldsep'>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            </span>
                            {{ form_widget(form.numemails) }}
                        </div>
                            {{ form_widget(form.submit) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <!-- /form input mask -->
            <!-- progress bar -->
            <div class="col-md-8 col-sm-12 col-xs-12" style="display: none" id="progress_show">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="progress">
                            <div id="progress_bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width:0">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- current emails status stats -->
            <div id="emailstats">
                {% embed "BackEnd/Publisher/newPubEmailStatusUpdate.twig" %}

                {% endembed %}
            <!--<div class="col-md-12 col-sm-4 col-xs-12">
                <div class='tableauPlaceholder' id='viz1523273627197' style='position:relative'>
                    <noscript>
                        <a href='http:&#47;&#47;admin.mediaff.com&#47;en&#47;emailcheck'>
                            <img alt='Col Visit Map ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Te&#47;TestWorkBook_5&#47;ColVisitMap&#47;1_rss.png' style='border: none' /></a>
                    </noscript>
                    <object class='tableauViz'  style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='site_root' value='' />
                        <param name='name' value='TestWorkBook_5&#47;ColVisitMap' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Te&#47;TestWorkBook_5&#47;ColVisitMap&#47;1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                    </object>
                </div>
                    <script type='text/javascript'>
                        var divElement = document.getElementById('viz1523273627197');
                        var vizElement = divElement.getElementsByTagName('object')[0];
                        vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
                        var scriptElement = document.createElement('script');
                        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                        vizElement.parentNode.insertBefore(scriptElement, vizElement);
                    </script>
            </div>--!>
            <!-- campaign stats -->
            <div id="campstats">

            </div>
        </div>
    </div>
{% endblock %}

{% block custjs %}
    <!-- ECharts -->
    <script src="{{ asset('resources/vendors/echartsn/echarts2.min.js')}}"></script>
    <script>
        /*
        * Submitting the form for email validation
        */
        $("#emailcheckform").submit(function(e) {
            e.preventDefault();
            if ( $("#progress_show").css('display') == 'none' ){
                $("#progress_show").show(); //showing progress bar
                $("#progress_bar").attr("aria-valuemin", "0%"); //assigning initial value to progress bar
            } else {
                $("#progress_bar").attr("style", "width: 0%");
                $("#progress_bar").attr("aria-valuenow", "0%");
            }
            var $form = $(e.currentTarget);
            var formSubmit = function () {
                $.ajax({
                    url: $form.attr('action'),
                    method: 'POST',
                    data: $form.serialize(),
                    timeout: 1000
                });
            };
            formSubmit();
            //getting status of email checking
            var emailstocheck = document.getElementById("email_validation_numemails").value; //getting count of emails to be validated
            var timeOutId = 0;
            console.log(emailstocheck);
            var initCamp = function () {
                $.ajax({
                    type: "GET",
                    url: "{{ path('emailcheckbar') }}",
                    dataType: "json",
                    cache: false,
                    success: function(response) {
                        initemails = response[0];
                        console.log(initemails);
                        var ajaxFn = function() {
                            var currcount = "0%";
                            $.ajax({
                                type: "GET",
                                url: "{{ path('emailcheckbar') }}",
                                dataType: "json",
                                success: function(response) {
                                    curemails = response[0];
                                    emailprog = Math.floor(Number(curemails) - Number(initemails));
                                    progress = Math.floor((Number(emailprog) / Number(emailstocheck)) * Number(100)) + "%";
                                    $("#progress_bar").attr("style", "width: " + progress);
                                    $("#progress_bar").attr("aria-valuenow", progress);
                                    document.getElementById("progress_bar").innerHTML = "Running - " + progress + " processed";
                                    console.log(curemails);
                                    console.log(emailprog);
                                    console.log(progress);
                                    if(progress.replace("%", "") >= 97){
                                        $("#progress_bar").attr("style", "width: 100%");
                                        $("#progress_bar").attr("aria-valuenow", "100%");
                                        document.getElementById("progress_bar").innerHTML = "Completed - 100% - " + (Number(curemails) - Number(initemails)) + " emails checked";
                                        //trigger update of email statuses count

                                        //display new setup of email statuses
                                        var cdAjax = function () {
                                            $.ajax({
                                                type: "GET",
                                                url: "{{ path('emailstats') }}",
                                                dataType: "html",
                                                success: function(response) {
                                                    if(response.length != 0) {
                                                        $('#emailstats').html(response);
                                                    } else {
                                                        timeOutId = setTimeout(cdAjax, 2000);
                                                    }
                                                },
                                                error: function(result) {
                                                    console.log('error');
                                                }
                                            });
                                        }
                                        cdAjax();
                                    } else {
                                        timeOutId = setTimeout(ajaxFn, 2000);
                                    }
                                    prevprogress = progress;
                                },
                                error: function(result) {
                                    console.log('error');
                                }
                            });
                        }
                        ajaxFn();
                    },
                    error: function(response) {
                        console.log(response);
                    }
                })
            }
            initCamp();
        });
    </script>
{% endblock %}