{% extends "base.html.twig" %}

{% block title %}Mediaff | Email Analysis{% endblock %}

{% block custcss %}
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js') }}"></script>
    <script src="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="">
        <div class="row">
            <!-- form input mask -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'emailcheckform'}}) }}
                            {{ form_widget(form.submit) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <!-- /form input mask -->
            <!-- progress bar -->
            <div class="col-md-8 col-sm-12 col-xs-12" style="display: none" id="progress_show">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="progress">
                            <div id="progress_bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width:0">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- current stats -->
            <div class="col-md-4 col-sm-4 col-xs-12" style="clear: left;">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Email Status Details</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="echart_pie2" style="height:350px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-4 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Email Status Weekly stats</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="echart_stack2" style="height:350px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-4 col-xs-12">
                <div class='tableauPlaceholder' id='viz1523273627197' style='position:relative'>
                    <noscript>
                        <a href='http:&#47;&#47;admin.mediaff.com&#47;en&#47;emailcheck'>
                            <img alt='Col Visit Map ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Te&#47;TestWorkBook_5&#47;ColVisitMap&#47;1_rss.png' style='border: none' /></a>
                    </noscript>
                    <object class='tableauViz'  style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='site_root' value='' />
                        <param name='name' value='TestWorkBook_5&#47;ColVisitMap' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Te&#47;TestWorkBook_5&#47;ColVisitMap&#47;1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                    </object>
                </div>
                    <script type='text/javascript'>
                        var divElement = document.getElementById('viz1523273627197');
                        var vizElement = divElement.getElementsByTagName('object')[0];
                        vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
                        var scriptElement = document.createElement('script');
                        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                        vizElement.parentNode.insertBefore(scriptElement, vizElement);
                    </script>
            </div>
            <!-- campaign stats -->
            <div id="campstats">

            </div>
        </div>
    </div>
{% endblock %}

{% block custjs %}
    <!-- ECharts -->
    <script src="{{ asset('resources/vendors/echartsn/echarts2.min.js')}}"></script>
    <script>
        /*setting up general theme */
        var theme = {
            color: [
                '#26B99A', '#34495E', '#BDC3C7', '#3498DB',
                '#9B59B6', '#8abb6f', '#759c6a', '#bfd3b7'
            ],
            title: {
                itemGap: 8,
                textStyle: {
                    fontWeight: 'normal',
                    color: '#408829'
                }
            },
            dataRange: {
                color: ['#1f610a', '#97b58d']
            },
            toolbox: {
                color: ['#408829', '#408829', '#408829', '#408829']
            },
            tooltip: {
                backgroundColor: 'rgba(0,0,0,0.5)',
                axisPointer: {
                    type: 'line',
                    lineStyle: {
                        color: '#408829',
                        type: 'dashed'
                    },
                    crossStyle: {
                        color: '#408829'
                    },
                    shadowStyle: {
                        color: 'rgba(200,200,200,0.3)'
                    }
                }
            },
            dataZoom: {
                dataBackgroundColor: '#eee',
                fillerColor: 'rgba(64,136,41,0.2)',
                handleColor: '#408829'
            },
            grid: {
                borderWidth: 0
            },
            categoryAxis: {
                axisLine: {
                    lineStyle: {
                        color: '#408829'
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ['#eee']
                    }
                }
            },
            valueAxis: {
                axisLine: {
                    lineStyle: {
                        color: '#408829'
                    }
                },
                splitArea: {
                    show: true,
                    areaStyle: {
                        color: ['rgba(250,250,250,0.1)', 'rgba(200,200,200,0.1)']
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ['#eee']
                    }
                }
            },
            timeline: {
                lineStyle: {
                    color: '#408829'
                },
                controlStyle: {
                    normal: {color: '#408829'},
                    emphasis: {color: '#408829'}
                }
            },
            k: {
                itemStyle: {
                    normal: {
                        color: '#68a54a',
                        color0: '#a9cba2',
                        lineStyle: {
                            width: 1,
                            color: '#408829',
                            color0: '#86b379'
                        }
                    }
                }
            },
            map: {
                itemStyle: {
                    normal: {
                        areaStyle: {
                            color: '#ddd'
                        },
                        label: {
                            textStyle: {
                                color: '#c12e34'
                            }
                        }
                    },
                    emphasis: {
                        areaStyle: {
                            color: '#99d2dd'
                        },
                        label: {
                            textStyle: {
                                color: '#c12e34'
                            }
                        }
                    }
                }
            },
            force: {
                itemStyle: {
                    normal: {
                        linkStyle: {
                            strokeColor: '#408829'
                        }
                    }
                }
            },
            chord: {
                padding: 4,
                itemStyle: {
                    normal: {
                        lineStyle: {
                            width: 1,
                            color: 'rgba(128, 128, 128, 0.5)'
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: 'rgba(128, 128, 128, 0.5)'
                            }
                        }
                    },
                    emphasis: {
                        lineStyle: {
                            width: 1,
                            color: 'rgba(128, 128, 128, 0.5)'
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: 'rgba(128, 128, 128, 0.5)'
                            }
                        }
                    }
                }
            },
            gauge: {
                startAngle: 225,
                endAngle: -45,
                axisLine: {
                    show: true,
                    lineStyle: {
                        color: [[0.2, '#86b379'], [0.8, '#68a54a'], [1, '#408829']],
                        width: 8
                    }
                },
                axisTick: {
                    splitNumber: 10,
                    length: 12,
                    lineStyle: {
                        color: 'auto'
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: 'auto'
                    }
                },
                splitLine: {
                    length: 18,
                    lineStyle: {
                        color: 'auto'
                    }
                },
                pointer: {
                    length: '90%',
                    color: 'auto'
                },
                title: {
                    textStyle: {
                        color: '#333'
                    }
                },
                detail: {
                    textStyle: {
                        color: 'auto'
                    }
                }
            },
            textStyle: {
                fontFamily: 'Arial, Verdana, sans-serif'
            }
        };
        /*email status details*/
        var echartPieCollapse = echarts.init(document.getElementById('echart_pie2'), theme);
        echartPieCollapse.setOption({
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                x: 'center',
                y: 'bottom',
                data: [
                        {% for sts in emailstatuses %}
                            {% for key in sts|keys %}
                                {% if loop.last == false %}
                                    {% if key == 'validemails' %}
                                        'Valid Emails'
                                    {% elseif key == 'dispemails' %}
                                        'Disposable'
                                    {% elseif key == 'invalidemails' %}
                                        'Invalid'
                                    {% elseif key == 'catchallemails' %}
                                        'Catch All'
                                    {% elseif key == 'unknownemails' %}
                                        'Unknown'
                                    {% endif %},
                                {% else %}
                                    {% if key == 'validemails' %}
                                        'Valid Emails'
                                    {% elseif key == 'dispemails' %}
                                        'Disposable'
                                    {% elseif key == 'invalidemails' %}
                                        'Invalid'
                                    {% elseif key == 'catchallemails' %}
                                        'Catch All'
                                    {% elseif key == 'unknownemails' %}
                                        'Unknown'
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    ]
            },
            toolbox: {
                show: true,
                feature: {
                    magicType: {
                        show: true,
                        title: "Funnel",
                        type: ['pie', 'funnel']
                    },
                    restore: {
                        show: true,
                        title: "Restore"
                    },
                    saveAsImage: {
                        show: false,
                        title: "Save Image"
                    }
                }
            },
            calculable: true,
            series: [{
                name: 'Area Mode',
                type: 'pie',
                radius: [25, 90],
                center: ['50%', 170],
                roseType: 'area',
                x: '50%',
                max: 40,
                sort: 'ascending',
                data: [{
                        {% for sts in emailstatuses %}
                            {% for key, val in sts %}
                                {% if loop.last == false %}
                                    {{ "value:" }} {{ val }},
                                        {% if key == 'validemails' %}
                                            {{ "name:" }} 'Valid Emails'
                                        {% elseif key == 'dispemails' %}
                                            {{ "name:" }} 'Disposable'
                                        {% elseif key == 'invalidemails' %}
                                            {{ "name:" }} 'Invalid'
                                        {% elseif key == 'catchallemails' %}
                                            {{ "name:" }} 'Catch All'
                                        {% elseif key == 'unknownemails' %}
                                            {{ "name:" }} 'Unknown'
                                        {% endif %}
                                    {{ "}, {" }}
                                {% else %}
                                    {{ "value:" }} {{ val }},
                                        {% if key == 'validemails' %}
                                            {{ "name:" }} 'Valid Emails'
                                        {% elseif key == 'dispemails' %}
                                            {{ "name:" }} 'Disposable'
                                        {% elseif key == 'invalidemails' %}
                                            {{ "name:" }} 'Invalid'
                                        {% elseif key == 'catchallemails' %}
                                            {{ "name:" }} 'Catch All'
                                        {% elseif key == 'unknownemails' %}
                                            {{ "name:" }} 'Unknown'
                                        {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                }]
            }]
        });
        /*email statuses weekly*/
        var echartEmailStats = echarts.init(document.getElementById('echart_stack2'), theme);
        echartEmailStats.setOption({
            tooltip : {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data:['直接访问','邮件营销','联盟广告','视频广告','搜索引擎','百度','谷歌','必应','其他']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis : [
                {
                    type : 'category',
                    data : ['周一','周二','周三','周四','周五','周六','周日']
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'邮件营销',
                    type:'bar',
                    stack: '广告',
                    data:[120, 132, 101, 134, 90, 230, 210]
                },
                {
                    name:'联盟广告',
                    type:'bar',
                    stack: '广告',
                    data:[220, 182, 191, 234, 290, 330, 310]
                },
                {
                    name:'视频广告',
                    type:'bar',
                    stack: '广告',
                    data:[150, 232, 201, 154, 190, 330, 410]
                },
                {
                    name:'直接访问',
                    type:'bar',
                    data:[320, 332, 301, 334, 390, 330, 320]
                },
                {
                    name:'搜索引擎',
                    type:'bar',
                    data:[862, 1018, 964, 1026, 1679, 1600, 1570],
                    markLine : {
                        lineStyle: {
                            normal: {
                                type: 'dashed'
                            }
                        },
                        data : [
                            [{type : 'min'}, {type : 'max'}]
                        ]
                    }
                },
                {
                    name:'百度',
                    type:'bar',
                    barWidth : 5,
                    stack: '搜索引擎',
                    data:[620, 732, 701, 734, 1090, 1130, 1120]
                },
                {
                    name:'谷歌',
                    type:'bar',
                    stack: '搜索引擎',
                    data:[120, 132, 101, 134, 290, 230, 220]
                },
                {
                    name:'必应',
                    type:'bar',
                    stack: '搜索引擎',
                    data:[60, 72, 71, 74, 190, 130, 110]
                },
                {
                    name:'其他',
                    type:'bar',
                    stack: '搜索引擎',
                    data:[62, 82, 91, 84, 109, 110, 120]
                }
            ]
        })
    </script>
    <script>
        /*
        * Submitting the form for email validation
        */
        $("#emailcheckform").submit(function(e) {
            e.preventDefault();
            if ( $("#progress_show").css('display') == 'none' ){
                $("#progress_show").show(); //showing progress bar
                $("#progress_bar").attr("aria-valuemin", "0%"); //assigning initial value to progress bar
            } else {
                $("#progress_bar").attr("style", "width: 0%");
                $("#progress_bar").attr("aria-valuenow", "0%");
            }
            var $form = $(e.currentTarget);
            var formSubmit = function () {
                $.ajax({
                    url: $form.attr('action'),
                    method: 'POST',
                    data: $form.serialize(),
                    timeout: 1000,
                    success: function( response ) {
                        console.log( response );
                    },
                    error: function( response ) {
                        console.log( response );
                    }
                });
            };
            formSubmit();
        });
    </script>
{% endblock %}